@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  /* background: linear-gradient(165deg, #68c6ed,#000000,#000000, #000000); */
  background-color: black;
}

body[data-theme="admin"] {
  background-color: #f0f2f5;
  color: #111;
}