/* Admin_Layout.jsx */

.admin-layout {
  display: flex;
  /* height: 100vh; */
}

.admin-layout__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 10px;
  /* flex-direction: column; */
  z-index: 50;
  gap: 20px;
}

.admin-layout__logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.admin-layout__logo-img {
  width: 50px;
  height: 50px;
}

.admin-layout__logo-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.admin-layout__nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  /* flex-direction: column; */
  gap: 15px;
  /* padding: 16px 12px; */
}

.admin-layout__nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  /* padding: 30px 20px; */
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease;
}

.admin-layout__nav-link:hover {
  color: #68c6ed;
}

.admin-layout__nav-link--active {
  border-bottom: #68c6ed 2px solid ;
  background-color: transparent !important;
  color: #68c6ed;
}

.admin-layout__logout-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px 15px;
  /* border-radius: 12px; */
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.admin-layout__logout-btn:hover {
  background-color: rgb(119, 13, 13);
  /* color: #fff; */
}

.admin-layout__main {
  padding-top: 45px;
  flex: 1;
}

@media (max-width: 900px) {
  .admin-layout__sidebar {
    /* display: none; */
  }

  .admin-layout__main {
    /* width: 100%;
    margin-left: 0; */
  }
}
