.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh; /* tránh khuất phía trên */
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; 
}

.modal-box {
  background: rgba(255, 255, 255, 0.08); /* sáng nhẹ, đủ trong suốt */
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.12); /* thêm border mờ cho đẹp */
  border-radius: 8px;
  padding: 28px 32px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.modal-title {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.modal-message {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-bottom: 24px;
}

.modal-actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.btn-cancel {
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid #555;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-cancel:hover {
  border-color: #fff;
  color: #fff;
  border: 1px solid #68c6ed;
  transform: translateY(-3px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.btn-confirm {
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  background: #000000;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s;
  
}

.btn-confirm:hover {
  background: #68c6ed;
  transform: translateY(-3px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}