/* MainLayout.css */
.main-layout__content {
  margin-top: 45px;
  margin-left: 80px;
  padding: 15px;
  background-color: #000000;
}

.music-player-overlay {
  position: fixed;
  top: 45px;       
  left: 80px;      
  right: 0;
  bottom: 0;    
  z-index: 500;
  /* transform: translateY(0); */
  transition: transform 0.3s ease;
  pointer-events: all;
}


.music-player-overlay--hidden {
  /* transform: translateY(100%); */
  pointer-events: none;
}