/* Sidebar.jsx */

.sidebar {
  background-color: #000000;
  align-self: flex-start;
  overflow: hidden;
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 60px;
  left: 0;
  width: 120px;
  height: calc(100vh - 60px);
  color: white;
  padding: 20px;
  margin-right: 20px;
}

/* .sidebar--closed {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 50px;
  transition:
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0.35s;
} */

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.sidebar__link {
  /* width: 100%; */
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  padding: 15px 5px;
  color: #eeeeee;
  text-decoration: none;
  border-radius: 5px;
  white-space: nowrap;
}

.sidebar__link:hover {
  background-color: rgb(39 39 42);
}

.sidebar__icon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
