/* Sidebar.jsx */

.sidebar {
  background-color: #0F0F0F;
  align-self: flex-start;
  overflow: hidden;
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 45px;
  left: 0;
  width: 80px;
  z-index: 1000;
  height: calc(100vh - 45px);
  color: white;
  padding: 5px;
}

/* .sidebar--closed {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 50px;
  transition:
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0.35s;
} */

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.sidebar__link {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  padding: 15px 5px;
  color: #eeeeee;
  text-decoration: none;
  border-radius: 5px;
  /* white-space: nowrap; */
}

.sidebar__link:hover {
  background-color: rgb(39 39 42);
}
.sidebar__link--active {
  background: rgba(255, 255, 255, 0.1); /* nếu muốn có nền */
}

.sidebar__link--active .sidebar__icon {
  /* filter: brightness(0) saturate(100%) invert(63%) sepia(78%) saturate(429%) hue-rotate(84deg);  */
}

.sidebar__icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
