/* SongSection.jsx */

.song-section {
  margin-bottom: 32px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
}

.song-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.song-section__title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.song-section__play-btn {
  font-size: 14px;
  color: #235c98;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 6px 12px;
  background-color: white;
  cursor: pointer;
}

.song-section__grid--scroll {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-bottom: 8px;
  overflow-x: auto;
  scrollbar-width: none;
}

.song-section__grid--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
}

.song-section__grid--list {
  /* chia lm 2 cọt */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 10px; */
  height: 250px;
  overflow-y: auto;
}
